@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
#menu-h{
    background-color:  #FD7E14;
}
#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}
#menu-h ul li {
    display: inline;
}
#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}
#menu-h ul li a:hover {
    background-color: rgb(0, 0, 0);
}
#menu-h ul li:last-child a {
    float: right;
    background-color: rgb(0, 0, 0);
}
body {
    background-color: #FCF9F9;
    padding-bottom: 20px;
}
nav {
    font-family: 'Comic-book';
    font-size: 16px;
    margin-top: -0%;
    background-color: #FD7E14;
}

.navbar {
    margin-bottom: 20px;
}

.livro{
    background-color: #C4C4C4;
    margin-top: .5%;
    text-align: center;
}
.imagem_livro{
    margin-top: 2.5%;
}
.imagem_up_livro{
    margin-top: 2.5%;
    text-align: center;
}
.imagem_user{
    margin-top: 2.5%;
    text-align: center;
}
.imagem_logo{
    margin-top: 2.5%;
    text-align: center;
}
.formulario{
    margin-top: 5%;
    margin-left: 35%;
}
.login{
    margin-top: 5%;
    text-align: center;
}
.botao{
    text-align: center;
}
li {
    display: inline;
    margin-bottom: 15px;
}
@font-face {
    font-family: Comic-book;
    src: local (Comic-book), url(comic_book/Comic_Book.otf);
}